@charset "utf-8";
//Edit me later

// Set your brand colors
$light-violet: #BB86FC;
$teal: #03DAC5;
$brown: #757763;
$blue: hsl(180, 80%, 50%);
$green: hsl(141, 50%, 48%);
$yellow: hsl(48, 80%, 67%);
$red: hsl(348, 80%, 61%);

$grey-lighter: hsl(0, 0%, 86%);
$grey-darker: hsl(0, 0%, 21%);
$grey-darkest: hsl(0, 0%, 10%);
$grey: hsl(0, 0%, 48%);

$radius-rounded: 0px;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $light-violet;
$info: $blue;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $grey-lighter;
$dark: $grey-darker;

$background: $grey;
$pre-background: $grey-darker;
$text: $grey-lighter;

//$code: ;

// Update some of Bulma's component variables
$body-background-color: $grey-darker;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$hr-background-color: $grey-darkest;

//Import all of Bulma
@import "../node_modules/bulma/bulma.sass";
